* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    margin: 0;
    padding: 0;
    min-height: 100hv;

    background-color: #F6F6ED;
    color: #000;

    font-size: 24px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.page__header{
    font-size: 48px;
    margin-bottom: 5px;
}

.bayan_list{
    list-style: none;
    margin: 0;
    padding: 0;
    color: blue;
}

.bayan_list input{
    display: none;
}

.bayan_list:hover{
    color: #000;
}

.l1 label{
    cursor: pointer;
}

.l1 label:active{
    color: blue;
}

.l1 input:checked ~ label{
    color:#000;
}

.l1 input:checked ~ label .meme__image{
    width: 350px;
    height: 350px;
    background-size: 350px 350px;
    opacity: 1;
    margin-bottom: 30px;
}

.c1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 0;

    list-style: none;
    border-top: 1px solid #B5B5B5;

    cursor: pointer;

    text-decoration: none;
    caret-color: transparent;
}

.c2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.meme__image{
    width: 0px;
    height: 0px;
    background-size: 0px 0px;
    opacity: 0;

    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid grey;
    object-fit: cover;

    outline: 0;
    transition: .7s;
}

.meme__control__image{
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    opacity: 1;

    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;

    outline: 0;
    transition: .7s;
    object-fit: cover;
}

.l1:hover .meme__image{
    width: 350px;
    height: 350px;
    background-size: 350px 350px;
    opacity: 1;
    margin-bottom: 30px;
}

.c11{
    display: none;
}

.bayan_list:hover .c11{
    display: block;
}

.meme__control__image{
    display: none;
}

.l1 input:checked ~ label .close__image{
    display: block;
}

.l1 input:checked ~ label .plus__image{
    display: none;
}

.bayan_list:hover .plus__image{
    display: block;
}

.l1:hover .plus__image{
    display: none;
}

.l1:hover .close__image{
    display: block;
}
