:root {
  --green-var: #499A18;
  --orange-var: #E06733;
  --grey-var: #636060;
  --light-grey-var: #717171;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin: 0;
    padding: 0;
}

.header {
  background-color: #EDF2EC;
}

.wrapper-full{
  width: 1440px;
  margin: 0 auto;
}

.container {
  width:1222px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: none;
  padding-bottom: 62px;
}

.header__logo-link {
  font-family: 'Inika';
  font-size: 16px;
  color: #000;
  text-decoration: none;
  line-height: 50px;
}

.header__logo-image {
  height: 20px;
  width: 20px;
}

.header__nav {
  height: 50px;
  margin-top: 42px;
  margin-bottom: 42px;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.header__nav-list-item {
  margin-right: 46px;
}

.header__nav-list-item:last-child {
  margin-right: 0px;
}

.header__nav-list-item-link {
  font-family: 'Inika';
  font-size: 16px;
  line-height: 50px;
  color: #010201;
  text-decoration: none;
}

.header__nav-list-item-link:hover, .header__nav-list-item-link:focus, .header__nav-list-item-link:active {
  color: var(--orange-var);
  cursor: pointer;
  transition: 0.5s;
}

/* main welcome */

.welcome {
  background-color: #EDF2EC;
  padding-bottom: 62px;
}

.welcome__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome__content_wrapper{
  margin-right: 224px;
}

.welcome__content_wrapper:last-child {
  margin-right: 0px;
}

.welcome__content-image {
  width: 449px;
  height: 408px;
  margin-bottom: -4px;
}

.welcome__title {
  max-width: 549px;
  padding-bottom: 42px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: var(--light-grey-var);
}

.welcome__title span {
  color: var(--green-var);
}

.welcome__text {
  max-width: 525px;
  padding-bottom: 48px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: var(--grey-var);
}

.welcome__more-button {
  display: block;
  width: 158px;
  height: 44px;
  border: 2px solid var(--orange-var);
  border-radius: 10px;
  background: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Inter';
  font-size: 16px;
  color:#000;
  line-height: 20px;
  padding: 11px 0;
}

.welcome__more-button:hover {
  background-color: var(--orange-var);
  color: #fff;
  cursor: pointer;
  transition: 1s;
}

/* main welcome end*/
/*main about*/

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 93px;
  padding-bottom: 94px;
  background-color: #fff;
}

.about__content-wrapper {
  background: none;
}

.about__title {
  max-width: 463px;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color:var(--green-var);
  padding-bottom: 40px;
}

.about__title span{
  color: var(--orange-var);
}

.about__text{
  max-width: 605px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--grey-var);
}

.about__image {
  width: 464px;
  height: 479px;
  margin-bottom: -4px;
}

/*about end*/
/*main service start*/
.service {
  background-color: #EDF2EC;
  padding-top: 40px;
  padding-bottom: 121px;
}

.service__content {
  max-width: 1007px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
}

.service__content-title {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: var(--green-var);
  max-width: 306px;
}

.service__content__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.service__button {
  width: 161px;
  height: 50px;
  display: block;
  background: none;
  text-align: center;
  padding: 12px 0;
  border:1px solid var(--orange-var);
  border-radius: 5px;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--orange-var);
  text-decoration: none;
  margin-right: 37px;
}

.service__button:hover, .service__button:active, .service__button:focus{
  background-color: var(--orange-var);
  color: #fff;
  cursor: pointer;
  transition: 1s;
}

.service__button:last-child {
  margin-right: 0px;
}

.service__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 116px;
  row-gap: 55px;
}

.service__card-info {
  width: 330px;
  height: 100px;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}

.service__card-image{
  width: 330px;
  height: 350px;
  display: block;
  border-radius: 20px 20px 0px 0px;
}

.service__card-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--orange-var);
  text-align: center;
  margin: 10px 0;
}

.service__card-desription {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--light-grey-var);
  text-align: center;
}

.blur {
  filter: blur(1.5px);
}

/*main service end */

/* price */
.price{
  padding-top:40px;
  padding-bottom: 115px;
}

.price__container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.price__info{
  background:none;
}

.price-header__base{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color:#000;
  max-width: 452px;
}

.contact__us-header {
  margin-bottom: 38px;
  text-align: right;
}

.contact__us {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.contact__us-header__green{
  color: var(--green-var);
}

.contact__us-button {
  width: 162px;
  height: 50px;
  display: block;
  background: none;
  text-align: center;
  padding: 12px 0;
  border:1px solid var(--orange-var);
  border-radius: 5px;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--orange-var);
  text-decoration: none;
  margin-bottom: 39px;
}

.contact__us-button:hover, .contact__us-button:active, .contact__us-button:focus{
  background-color: var(--orange-var);
  color: #fff;
  cursor: pointer;
  transition: 1s;
}

.contact__us-image {
  width: 152px;
  height: 175px;
}

.price-header {
  margin-bottom: 60px;
}

.price__list__container {
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  padding: 34px 41px;
}

.price__list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 32px;
}

.price__list-item {
  width: 250px;
  padding: 16px 40px;
  background-color: #EDF2EC;
  border-radius: 20px;
}

.price__list-item-header-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.price__list-item-header {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  color: #000;
}

.price__list-item-header-btn {
  text-decoration: none;
  line-height: 20px;
  content: url('../assets/svg/accordion_btn_regular.svg');
}

.price__list-item-header-image{
  width: 16px;
  height: 16px;
  margin: auto;
  vertical-align: middle; 
  display: inline-block;
}

.price__list-item-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;
  max-width: 169px;
  margin-top: 12px;
}

.hidden {
  display: none;
}

.price__text__info {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000;
  margin-bottom: 7px;
}

.price__info__separator {
  border-top: 0.5px solid #AEA1A1;
  width: 97%;
  margin-bottom: 6px;
}

.price__text {
  color: var(--orange-var);
}

.price__text__digits {
  font-size: 14px;
  font-weight: 700;
}

.price__description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: var(--light-grey-var);
  margin-bottom: 6px;
}

.order__button {
  width: 86px;
  text-decoration: none;
  background: #fff;
  border-radius: 10px;
  padding: 3px 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--light-grey-var);
}

.order__button:hover, .order__button:active, .order__button:focus{
  color: var(--orange-var);
  cursor: pointer;
  transition: 1s;
}

/* price end */
}